{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    tani
    <h1>Blog summary</h1>
    {% for post in posts %}
        <div class="post summary">
            <h2>{{ post.title }}</h2>
            <p>{{post.author_name}}</p>
            <p>{{post.updated}}</p>
            <p>{{post.summary}}</p>
            <hr>

        </div>
    {% endfor %}
</body>
</html>